
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  color: #888;
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  color: #555;
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
  text-align: left;
}
